<div class="container">
  
  <div class="col-12">

    <form [formGroup]="form">
        <div class="mb-3">
          <label for="exampleInputTitre1" class="form-label"><span>*</span> Titre </label>
          <input formControlName="title" type="text" class="form-control" id="exampleInputTitre1" aria-describedby="TitreHelp">
          <div id="titreHelp" class="form-text text-danger">{{errorOblect.title}}</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputSalary1" class="form-label"><span>*</span>Salaire</label>
          <input formControlName="salary" type="number" class="form-control" id="exampleInputSalary1" aria-describedby="salaryHelp">
          <div id="salaryHelp" class="form-text text-danger">{{errorOblect.salary}}</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputstartingDate1" class="form-label"><span>*</span>Date début</label>
          <input formControlName="startingDate" type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="startingDateHelp" class="form-text text-danger">{{errorOblect.startingDate}}</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputExperience1" class="form-label"><span>*</span>Type contrat</label>
          <input formControlName="contractType" placeholder="CDI, CDD, Temporaire" type="text" class="form-control" id="exampleInputExperience1" aria-describedby="experienceHelp">
          <div id="emailHelp" class="form-text text-danger">{{errorOblect.contractType}}</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputAddress1" class="form-label"><span>*</span>description</label>
          <!-- <input formControlName="description" type="text" class="form-control" id="exampleInputAddress1" aria-describedby="addressHelp"> -->
          <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          <div id="addressHelp" class="form-text text-danger">{{errorOblect.description}}</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label"><span>*</span>Avantages</label>
          <input formControlName="benefits" type="text" class="form-control" id="exampleInputPassword1">
          <div id="addressHelp" class="form-text text-danger">{{errorOblect.benefits}}</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"><span>*</span>Emploi</label>
            <input formControlName="workingHours" placeholder="Temps partiel, Temps plein" type="text" class="form-control" id="exampleInputPassword1">
            <div id="addressHelp" class="form-text text-danger">{{errorOblect.workingHours}}</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputExperience1" class="form-label"><span>*</span>Niveau</label>
          <input formControlName="requireProfile" placeholder="Sénior, Junior, débutant" type="text" class="form-control" id="exampleInputExperience1" aria-describedby="experienceHelp">
          <div id="emailHelp" class="form-text text-danger">{{errorOblect.requireProfile}}</div>
        </div>
        <!-- <div class="mb-3">
          <label for="exampleInputExperience1" class="form-label"><span>*</span>Spécialité</label>
          <input formControlName="speciality" placeholder="" type="text" class="form-control" id="exampleInputExperience1" aria-describedby="experienceHelp">
          <div id="emailHelp" class="form-text text-danger">{{errorOblect.requireProfile}}</div>
        </div> -->
        <div class="mb-3">
          <label for="exampleInputExperience1" class="form-label">Image de l'offre</label>
          <input formControlName="image" type="text" class="form-control" id="exampleInputExperience1" aria-describedby="experienceHelp">
        </div>
        <div class="col-12 d-flex align-content-center">
            <button class="col-4" class="btn btn-color-custom" (click)="submitForm()">Créer l'offre</button>
        </div>
    </form>
  </div>
</div>
