.btn-color-custom{
    background-color: #5DADE2;
    color: white;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: #5DADE2;
}

a:hover{
    text-decoration: none;
    color: #39a0e6;
}
