<div class="display-container">

    <div class="content">
        
        <div class="description-bloc">
            <h1>Comment ça marche ?</h1>
            <h2>La formations en sécurité pour trouver un emploi</h2>
            <p>Vous souhaitez devenir agent de sécurité ou vous remettre à niveau afin de trouver un emploi d’agent rapidement ?</p>
            <p> My linking security Job vous accompagne simplement et gratuitement !</p>
    
        </div>
        
        <div class="cards-grp">

            <div class="card">
                <div class="content-card">
                    <h1 class="title">Agent de sécurité privé</h1>
                    <p class="content">Tous les articles autour du métier, des formations et de l’emploi pour les agents de sécurité privée.</p>
                </div>
                <button class="btn-card">Former des agents de sécurité</button>
            </div>
    
            <div class="card">
                <div class="content-card">
                    <h1 class="title">Agent de sûreté aéroportuaire</h1>
                    <p class="content">Tous les articles autour du métier, des formations et de l’emploi pour les agents de sécurité cynophile.</p>
                </div>
                <button class="btn-card">Former des agents aéroportuaire</button>
            </div>
    
            <div class="card">
                <div class="content-card">
                    <h1 class="title">Agent de sécurité cynophile</h1>
                    <p class="content">Tous les articles autour du métier, des formations et de l’emploi pour les agents de sécurité privée.</p>
                </div>
                <button class="btn-card">Former des agents de sécurité cynophile</button>
            </div>
    
        </div>
    </div>

</div>
