<div class="container detailcard">
    
    <div class="card mb-3 mt-4" style="max-width: 540px; background-color: white;">
        <img src="{{job.image}}" class="card-img-top" alt="...">
        <!-- <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h5 class="card-title">{{job.title}}</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div> -->
      <div class="card-body">
        <h5 class="card-title">{{job.title}}</h5>
        <p class="card-text">Nous recherchons un/une formateur ayant le sens du travail et l'amour de transmettre son savoir aux stagiaires.</p>

        <span>Type de poste : {{job.contractType}} - {{job.workingHours}}</span><br/>
        <span>Roulement : {{job.workingHours}}</span><br/>
        <span>Salaire: {{job.salary}} €</span><br/>
        <span>Avantages: {{job.benefits}}</span><br/>
        <span>Profil requis: {{job.requireProfile}}</span><br/>
        <span>Spécialité souhaitéé: {{job.specialities}}</span><br/>
        <span>Date de prise de service: {{job.startingDate}}</span><br/>

        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

        <!-- <div class="col-12 text-end pe-3">
          <span (click)="addToFavorite(job)">
            <i *ngIf="!isInToFavorite" class="fa fa-heart fs-2 add-heart" aria-hidden="true"></i> -->
            <!-- <i *ngIf="isInToFavorite" class="fa fa-heart fs-2 dont-add-heart" aria-hidden="true"></i> -->
          <!-- </span> -->
        </div>
      </div>
      <!-- <button class="btn" (click)="applyToJob(job)">Postuler</button> -->
</div>
