<div class="home-container">

    <div>
        
        <app-display-sub></app-display-sub>

        <div class="intro-component">
            <div class="intro-item-1">
                <div class="item-1">
                    <h1>Trouvez une formation <br /> et un emploi dans le <br /> secteur de la sécurité.</h1>
                    <h6>
                        My Security Job, leader dans les domaines de formation en sécurité vous <br /> propose un accompagnent gratuit et personnalisé vous permettant de devenir :
                    </h6>
                </div>
                <div class="item-2">

                    <button class="btn-discover-our-services">Découvrez nos services</button>
                </div>
            </div>
        </div>
    
        <div class="home-footer">
            
            <div class="content">
                <div>
                    <h1 class="title">POURQUOI VOUS NOUS ?</h1>
                    <h4>La sécurité privée est un secteur qui recrute !</h4>
                    <p class="description">
    
                        «  Le secteur de la Sécurité Privée est extrêmement dynamique, c’est un secteur qui recrute.
    
                        Cependant, nombre de candidats se sentent perdus dans leurs démarches et certains de leurs choix freinent leur accès à l’emploi.
                        
                        C’est dans une démarche innovante que j’ai créé my-security-job.com afin de mettre mes années d’expérience à votre service, pour vous guider pas à pas et accélérer votre réussite dans ce beau métier.
                        
                        Sur my-security-job.com, nous traitons des sujets autour de la surveillance humaine, de la sécurité incendie, de la sûreté aéroportuaire, de la cynotechnie, de la protection rapprochée, du secourisme et du management. »
                    </p>
    
                </div>
            </div>
        </div>
    </div>

</div>