.home-container {
    //Premier composant de la page home
    .img-security{
        display: flex;
    }
    .intro-component{
        
        display: flex;
        flex-direction: row;
        max-height: 700px;
        padding-left: 215px;
        padding-right: 215px;
        height: 900px;
        background-color: azure;  
        
        .intro-item-1 {
                flex: 3;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px;
                
                .item-1 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 100px;
                }

                .btn-discover-our-services {
                    border-radius: 8px;
                    background-color: #3498DB;
                    border: none;
                    color: white;
                    padding: 15px;
                    width: 150px;
                }
                .btn-discover-our-services:hover {
                    background-color: #5DADE2;
                }
                
            }
            .intro-item-2 {
                flex: 1;
            }
    
    }

    .home-footer{
        display: flex;
        flex-direction: row;
        height: 900px;
        padding-left: 215px;
        padding-right: 215px;
        background-color: white;

        
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}
