<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">MyLinkingSecurityJob</a>
      <button class="navbar-toggler navbar-toggler-custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div></div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Accueil</a>
          </li>
          <li class="nav-item dropdown toggle-custom">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Formations
            </a>
            <ul class="dropdown-menu dropdown-menu-custom">
                <li><a class="dropdown-item dropdown-item-custom" href="#" *ngFor="let learning of learnings">{{learning}}</a></li>
                <!-- <li><hr class="dropdown-divider"></li> -->
                <!-- <li><a class="dropdown-item dropdown-item-custom" href="#">Another action</a></li> -->
            </ul>
          </li>

          <!---<li class="nav-item dropdown toggle-custom">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Centres de formation
            </a>
            <ul class="dropdown-menu dropdown-menu-custom">
              <li><a class="dropdown-item dropdown-item-custom" href="#" *ngFor="let learningCenter of learningCenters">{{learningCenter}}</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
           <!---</ul>
          </li> ---> 
          <li class="nav-item">
            <a class="nav-link" routerLink="/centres-de-formation">Centres de formation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/trouver-un-emploi">Touver un emploi</a>
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>

        <form class="d-flex search" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-search-custom" type="submit">Rechercher</button>
        </form>
        
        <button class="btn-login">Se connecter</button>
        <!-- <button class="btn-logout">Se déconnecter</button> -->
      </div>
    </div>
  </nav>