.navbar-custom{
  background-color: #3498DB;
  margin-bottom: 50px;
  // padding-top: 15px;
  // padding-bottom: 15px;
  padding-left: 200px;
  padding-right: 200px;

  .nav-link, .active, .navbar-brand {
      color: white;
  }

  .nav-link {
      border-radius: 8px;
  }
  
  .nav-link:hover {
      background-color: #5DADE2;
      border-radius: 8px;
  }
  .collapse{
      .menu{
          margin-left: 20px;
      }

      .search{

        .btn-search-custom{
            border: none;
            color: white;
            border: 1px solid #2E86C1;
        }

        .btn-search-custom:hover {
            background-color: #5DADE2;
        }
      }
  }
  
  .navbar-toggler-custom{
      background-color: white;
  }

  .toggle-custom {
      
      .dropdown-menu-custom {
          background-color: white;
          padding: 0;
          .dropdown-item-custom:hover {
              background-color: #5DADE2;
              border-radius: 5px;
              color: white;
          }
      }
  }

  .btn-login, .btn-logout {
      border-radius: 8px;
      background-color: #5DADE2;
      border: none;
      color: white;
      padding: 10px;
      margin-left: 80px;
  }

  .btn-login:hover, .btn-logout:hover {
      border-radius: 8px;
      background-color: #2E86C1;
      border: none;
      color: white;
      padding: 10px;
  }
}

