<nav>
    <p>LinkingEducationSecurity</p>
    <ul class="navigation">
        <li><a routerLink="/" href="#">Accueil</a></li>
        <li><a routerLink="/formations" href="#">Formations</a></li>
        <li><a routerLink="/centres-de-formation" href="#">Centres de formation</a></li>
        <li><a routerLink="/trouver-un-emploi" href="#">Trouver un emploi</a></li>
        <li><a routerLink="/login" href="#">Connexion</a></li>
        <li><a routerLink="/logout" href="#">Déconnexion</a></li>
    </ul>
</nav>
