.btn-login, .btn-logout, .btn-register, .btn-profile{
    border-radius: 8px;
    border: none;
    color: white;
    padding: 10px;
}

.btn-login:hover, .btn-logout:hover, .btn-register:hover{
    border-radius: 8px;
    border: none;
    color: white;
    padding: 10px;
}

.btn-custom-hover-color:hover{
    color: white;
} 