<div class="d-flex flex-row">

        <div class="d-flex flex-row flex-grow-1 flex-nowrap border">
            <span>{{job.title}}</span>
            <span>{{job.startingDate}}</span>
            <span>{{job.contractType}}</span>
            <span>...</span>
        </div>
    
       

    <div class="d-flex flex-row border">
        
        <button class="btn btn-secondary">Modifier</button>
        <button class="btn btn-danger">Supprimer</button>
        <button class="btn btn-success">Détail</button>
    </div>

</div>