// Tout les composants doivent initialiser avec .container-custom
.container-custom {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    
    margin-top: 70px;
    padding-left: 200px;
    padding-right: 200px;

    // border: 1px solid yellowgreen;
}