body {
    font-family: Georgia, serif;
}

/*colors*/
.color-primary { color: #3498DB; }
.color-secondary { color: #2E86C1; }
.color-tertiary { color: #2E86C1; }
.color-azure{ color: azure; }
.color-white { color: white; }


/*colors:Hover*/
.color-primary-hover:hover { color: #3498DB; }
.color-secondary-hover:hover  { color: #2E86C1; }
.color-tertiary-hover:hover  { color: #2E86C1; }
.color-azure-hover:hover { color: azure; }
.color-white-hover:hover  { color: white; }


/*Background color*/
.bg-color-primary { background-color: #3498DB; }
.bg-color-secondary { background-color: #2E86C1; }
.bg-color-tertiary { background-color: #2E86C1; }
.bg-color-azure{ background-color: azure; }
.bg-color-white { background-color: white; }


/*Hover*/
.bg-color-primary-hover:hover {
    background-color: #2E86C1;
    color: white;
}

/*Shadow*/
.b-shad-hover:hover {
    box-shadow: rgba(108, 164, 190, 0.17) 0px -23px 25px 0px inset, rgba(108, 164, 190, 0.17) 0px -36px 30px 0px inset, rgba(108, 164, 190, 0.17) 0px -79px 40px 0px inset, rgba(108, 164, 190, 0.17) 0px 2px 1px, rgba(108, 164, 190, 0.17) 0px 4px 2px, rgba(108, 164, 190, 0.17) 0px 8px 4px, rgba(108, 164, 190, 0.17) 0px 16px 8px, rgba(108, 164, 190, 0.17) 0px 32px 16px;
}

/*margin*/
.mt-20rem { margin-top: 20rem; }
.mt-10rem { margin-top: 10rem; }

/*vh*/
.vh-50 { height: 50vh; }
.vh-75 { height: 75vh; }


/*padding*/
.pt-5rem{ padding-top: 5rem; }
.pt-10rem{ padding-top: 10rem; }
.pt-20rem{ padding-top: 20rem; }

.pb-10rem{ padding-bottom: 10rem;}

/*Width*/
.w-40rem {
    width: 40rem;
}
